
* {
    margin: 5px;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color:#ADD8E6;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.card {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 600px;
    margin-top: 20px; 
}

.card h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 20px;
    font-size: 28px;
    font-family: Nonito, sans-serif;
    
}

.card h2 {
    color: #000000;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Nonito, sans-serif;
    font: weight 600; 
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 20px;
}

.question label {
    color: #000000;
    display: block;
    margin-bottom: 5px;
}

input[type="radio"] {
    margin-right: 5px;
    font-weight: normal;
}

select,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #74b477;
}
