<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Account</title>
  <link rel="stylesheet" href="user_already_exists.css">
  <script src="signup.js"></script>

  
</head>
<body>
  <div class="form-container">
    <h1>User Already Exists</h1>
  
    <div class="link">
      <p>Already have an account? <a href="http://localhost:3000/login">Log in</a></p>
    </div>
    
</body>
</html>
